jinja2
j2cli
asyncio
uuid
argparse
pathlib
httpx
starlette
fastapi
uvicorn
gunicorn
python-multipart==0.0.20

numpy==1.26.4
opencv-python-headless<4.12
Pillow==10.4.0

torch==1.13.1
torchvision==0.14.1
torchaudio==0.13.1

realesrgan==0.3.0
gfpgan==1.3.8
basicsr==1.4.2
facexlib==0.3.0
codeformer-pip
